body{
    background-color: black;
}
  
  h2 {
    color: bisque;
    font-size: 1.5em;
    margin-top: 0;
  }
  
  ul {
    color: bisque;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    color: bisque;
    margin-bottom: 10px;
  }
  
  p {
    color: bisque;
    margin-top: 0;
  }